body {
    background-color: #CCC;
    font-size: 16px;
    /*16px * 80 = 1280px */
}

p {
    text-align: justify;
}

.text-static {
    font-size: 16px;
}

.container {
    width: 80em;
    margin: 1em auto;
    padding: 6em;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

header.main {
    text-align: center;
    margin: 1em 0 4em 0;
}

section .title {
    border-bottom: 0.1em solid #EEEEEE;
    padding: 0.5em 0;
    margin: 2em 0;
}

